body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
.banner{
    background-image: url(pics/Slide1.PNG);
    background-repeat: no-repeat;
}
.sec{
    display: flex;
    margin-bottom: 120px;
}
.side-a{
    width: 50%;
    padding: 7%;
    margin-left: 40px;
}
.head{
    font-size: 50px;

}
#mini{
    font-size: 12px;
    color: firebrick;
}
.para{
    font-size: 16px;
    text-align: justify;
}
.button{
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    background-image: linear-gradient(#F8B195, #F67280);
    color: rgb(56, 114, 114);
    font-weight: 600;
}