body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
.banner{
    background-image: url(pics/Slide1.PNG);
    background-repeat: no-repeat;
}
.sec{
    display: flex;
    margin-bottom: 120px;
}
.side-a{
    width: 50%;
    padding: 7%;
    margin-left: 40px;
}
.head{
    font-size: 50px;

}
#mini{
    font-size: 12px;
    color: firebrick;
}
.para{
    font-size: 16px;
    text-align: justify;
}
.button{
    text-decoration: none;
    padding: 7px;
    margin: 7px;
    background-image: linear-gradient(#F8B195, #F67280);
    color: rgb(56, 114, 114);
    font-weight: 600;
    border-radius: 3px;
}
#box{
    background-image: url(pics/Slide2.PNG);
    background-repeat: no-repeat;
    background-position: right;
}
.mid{
    width: 70%;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 80px;
}
.mid img{
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}