body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
.banner{
    background-image: url(pics/Slide1.PNG);
    background-repeat: no-repeat;
}
.sec{
    display: flex;
    margin-bottom: 120px;
}
.side-a{
    width: 50%;
    padding: 7%;
    margin-left: 40px;
}
.head{
    font-size: 50px;

}
#mini{
    font-size: 12px;
    color: firebrick;
}
.para{
    font-size: 16px;
    text-align: justify;
}
.button{
    text-decoration: none;
    padding: 7px;
    margin: 7px;
    background-image: linear-gradient(#F8B195, #F67280);
    color: rgb(56, 114, 114);
    font-weight: 600;
    border-radius: 3px;
}
#box{
    background-image: url(pics/Slide2.PNG);
    background-repeat: no-repeat;
    background-position: right;
}
.mid{
    width: 70%;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 80px;
}
.mid img{
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}
#fin{
    font-size: 35px;
    color: firebrick;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#fin-bg{
    background-image: url(pics/Slide3.PNG);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.fin_div{
    width: 50%;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.fin_div img{
    width: 100%;
}
#f_div{
    display: flex;
    padding: 7%;
    margin: 20px;
}
#puff{
    text-decoration: none;
    color: firebrick;
    font-weight: 900;
}
#pf{
    font-size: large;
}
#pfi{
    font-size: medium;
}
footer{
    text-align: center;
    background-color: grey;
}
